WOODPECKER_FORGEJO=true
WOODPECKER_FORGEJO_URL=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:3000/
WOODPECKER_FORGEJO_CLIENT={{ woodpecker_forgejo_client }}
WOODPECKER_FORGEJO_SECRET={{ woodpecker_forgejo_secret }}
WOODPECKER_ADMIN=forgejo-admin
WOODPECKER_HOST=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8000
WOODPECKER_LOG_LEVEL=debug
